/* ADD YOUR STYLES HERE */



.background_color{
	background: #FAFAFF;
}

.table{

	width: 100%;
}

.table tr{
	border-bottom: solid 1px #8585AD;
}

.table tr:last-child
{

	border: none;
}

.table tr td:nth-child(2){

}

.table th{
	border-bottom: solid 1px #8585AD;
}

.table th, .table td{
	padding: 10px 20px 10px 0px;
}

.table td{
	text-align: left;
}

.stat-table td{
padding: 20px 20px 20px 10px;
text-align: center;
border-bottom: solid 1px #9D9DB2;
border-top: solid 1px #9D9DB2;
}

.label{
	color: #9D9DB2;
	font-size: .5em;
	font-weight: bold;
}

.stat-num{
	font-size: 2em;
	font-weight: bold;
}

.bar th{
	text-align: right;
	padding-right: 10px;
}
.bar td {
	width: 500px;
}

.bar td div{
	background-color: #006BB2;
	width: 500px;
	color: white;
	padding-left: 10px;
}

.lightbox-container{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,255,0,.5);
	width: 100%;
	height: 100%;
}

.lightbox-background{
	background-color: white;
	width: 90%;
	/*webkit:box-align:center;*/
	margin: 0 auto;
	border:1px solid white;
	border-radius: 20px;
}

.red-button{
	background-color: #FF4D4D;
	border: 2px solid #FF4D4D;
	border-radius: 5px;
	width: 10%;
	color: white;
	position: relative; left: 85%; top: 70%;

}

/* helllo there */

